social:
  - provider: bluesky
    service: https://bsky.social
    email: your-registered@email.address
    password: password
  - provider: misskey
    host: misskey.io
    token: supersekrittoken
  - provider: misskey
    host: misskey.art
    token: supersekrittoken
players:
  clementine: true
  quod_libet: true
  spotify: true
notify: true
